.navbar-nav a {
    font-size: 18px;
}

.navbar-brand {
    letter-spacing: 3px;
  }
  
  .navbar-nav li a{
    font-size: 17px;
  }
  
  .link{
    text-decoration: none;
    color: white;
  }
  
  .card{
    transition: all 0.5s ease;
  }
  
  .card:hover{
    transform: scale(1.1);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5) ;
  }

  .product img {
    transition: all 0.5s ease;
    border-radius: 10px;
  }

  .product img:hover{
    transform: scale(1.1);
  }